<section class="work">
    <div class="row">
      <h1>Work</h1>
    </div>
    <div class="row">
      <p>
        Seven years experience in helping people solve problems and make their day to day a little better.
      </p>
      <h2>Skills</h2>
      <ul>
        <li><i class="fa fa-paint-brush" aria-hidden="true"></i><span>Design</span></li>
        <li><i class="fa fa-keyboard-o" aria-hidden="true"></i><span>Development</span></li>
        <li><i class="fa fa-bar-chart" aria-hidden="true"></i><span>Project Management</span></li>
        <li><i class="fa fa-pencil" aria-hidden="true"></i><span>Writing</span></li>
      </ul>
      <p>
        Don't take my word for it.  Check out <a href="#">my projects</a>, <a href="#">my code</a>, and my <a href="#">resume</a>
      </p>
    </div>
</section>
