.row
  display: flex

%section-border
  border-bottom-width: $spacing-unit / 2
  border-bottom-color: $reverse-text-color
  border-bottom-style: solid

%colored-background-image
  position: absolute
  content: " "
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 0
