.row
  display: flex

%section-border
  border-bottom-width: $spacing-unit / 2
  border-bottom-color: $reverse-text-color
  border-bottom-style: solid

@mixin colored-background-image($path)
  position: relative
  background-image: url($path)
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  z-index: -2

@mixin colored-background-overlay($color, $opacity)
  background-color: $color
  opacity: $opacity
  position: absolute
  content: " "
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -1

@mixin colored-background-image-overlay($color, $path, $opacity)
  @include colored-background-image($path, $opacity)
  &:before
    @include colored-background-overlay($blue)
