.work
  @include colored-background-image-overlay($blue, "/img/mgac-screenshot.png")
  @extend %section-border
  .row
    padding: $spacing-unit
    &:first-child
      height: 10em
      justify-content: center
      align-items: center
    &:nth-child(2)
      flex-direction: column
      background-color: $light
      opacity: 0.9
  ul
    display: flex
    flex-flow: row wrap
    li
      display: flex
      flex-direction: column
      align-items: center
      flex: 1 1 50%
      height: 5em
      i
        font-size: $title-font-size * 0.75
  h1
    @extend %title
  h2
    @extend %small-title
  p, li
    @extend %paragraph-text
