.work
  background-color: $blue
  @extend %section-border
  a:hover
    color: $red
  .row
    padding: $spacing-unit
    &:first-child
      align-items: center
    &:nth-child(2)
      flex-direction: column
      opacity: 0.9
  ul
    display: flex
    flex-flow: row wrap
    li
      display: flex
      flex-direction: column
      .logo
        font-size: $title-font-size * 0.75
        +size(40px)

        color: $reverse-text-color
  h1
    @extend %title
  h2
    @extend %small-title
  p, li
    @extend %paragraph-text
