$title-font: 'Lato', sans-serif
$title-font-size:   24px
$title-font-weight: 300
$title-line-height: 2
$large-title-font-size: $title-font-size * 1.25

%title
  font: $title-font-size $title-font-weight $title-line-height $title-font


$base-font-family: 'Merriweather', serif
$base-font-size:   16px
$base-font-weight: 300
$small-font-size:  $base-font-size * 0.875
$base-line-height: 1.5
